:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --grisclaro: #B1D0E0 ;
    --primario: #6998AB;
    --secundario: #1A374D;
}
html{
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;/*si agregamos por ejemplo un padding o margin, no afecta a la sumatoria del tamaño del elemento*/
    scroll-snap-type: y mandatory;
}
/*Scroll snap*/
.snap, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco)100%);/*Degradado del fondo*/
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width:120rem ;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top:1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
}
.wt--90{
    width: 90%;
}
@media (min-width: 768px){
    .boton{
        width:auto;
    }
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    /*Agregar opacidad a una imagen*/
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;

    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: center;
}
@media (min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 33.3% 33.3% 33.3%;
        */
        column-gap: 1rem;
    }
}
.servicios-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios-card h3{
    color: var(--secundario);
}
.servicios-card p{
    line-height: 2;
    text-align: center;
}
.servicios-card .iconos{
    height: 12rem;
    width: 12rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formulario{
    background-color: var(--secundario);
    width: min(60rem, 100%);/*Utiliza el valor mas pequeño, no podemos ahorrar unos mq*/
    margin: 0 auto; /*centrado del form*/
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.campo{
    margin-bottom: 1rem;
}
@media (min-width: 768px){
    .contener-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3), .campo:nth-child(4){
        grid-column: 1/3;
    }
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 16.5rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
}
.campo-boton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.boton-form{
    border: none;
    background-color: var(--primario);
}
.wt--100{
    width: 100%;
}
@media (min-width: 768px){
    .wt--100{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
footer{
    text-align: center;
}