:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --primario: #ffc107;
    --secundario: #0097a7;
}

html{
    font-size: 62.5%; /* 1rem = 10px*/
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}